{% extends 'base.html' %}

{% block title %}Masking Photo Form{% endblock %}

{% block content %}
<div class="container">
    <h1>{% if form.instance.pk %}Edit Photo{% else %}Add Photo{% endif %}</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="mb-3">
            <label for="id_photo_type" class="form-label">Photo Type</label>
            {{ form.photo_type|add_class:"form-control" }}
        </div>
        <div class="mb-3">
            <label for="id_image" class="form-label">Photo</label>
            {{ form.image|add_class:"form-control" }}
        </div>
        <div class="mb-3">
            <label for="id_description" class="form-label">Description</label>
            {{ form.description|add_class:"form-control" }}
        </div>
        <button type="submit" class="btn btn-primary">{% if form.instance.pk %}Save Changes{% else %}Add Photo{% endif %}</button>
        <a href="{% url 'masking_profile_detail' masking_profile.id %}" class="btn btn-secondary">Cancel</a>
    </form>
</div>
{% endblock %}

