{% extends 'base.html' %}

{% block title %}Masking Detail{% endblock %}

{% block content %}
<div class="container">
    <h1>Masking Detail</h1>
    <table class="table table-bordered">
        <tr>
            <th>Job Identity</th>
            <td>{{ detail.get_job_identity_display }}</td>
        </tr>
        <tr>
            <th>Surface Repaired</th>
            <td>{{ detail.surface_repaired }}</td>
        </tr>
    </table>
    <a href="{% url 'masking_profile_detail' detail.masking_profile.part.part_number detail.masking_profile.part.part_revision %}" class="btn btn-secondary">Back</a>
</div>
{% endblock %}
