{% extends 'base.html' %}

{% block title %}Process Steps for Job {{ job.job_number }}{% endblock %}

{% block content %}
<div class="container">
    <h1>Process Steps for Job {{ job.job_number }}</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Step Number</th>
                <th>Title</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            {% for step in process_steps %}
            <tr>
                <td>{{ step.step_number }}</td>
                <td>{{ step.method.title }}</td>
                <td>{{ step.method.description }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'jobdetails_list' %}" class="btn btn-secondary mt-3">Back to Job List</a>
</div>
{% endblock %}
