{% extends 'base.html' %}

{% block title %}Process Steps for Job {{ job.job_number }}{% endblock %}

{% block content %}
<div class="container">
    <h1>Process Steps for Job {{ job.job_number }}</h1>

    {% if process_steps %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Step Number</th>
                <th>Title</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            {% for step in process_steps %}
            <tr>
                <td>{{ step.step_number }}</td>
                <td>{{ step.method.title }}</td>
                <td>{{ step.method.description }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'job_print_steps' job.id %}" class="btn btn-secondary mt-3 float-end">Print Steps</a>
    {% else %}
    <p>No process steps found.</p>
    {% endif %}

    <a href="{% url 'part_detail' job.part_detail.part.id %}" class="btn btn-secondary mt-3">Back to Part</a>
</div>
{% endblock %}

