{% extends 'base.html' %}

{% block title %}Add/Edit Job Details{% endblock %}

{% block content %}
<div class="container">
    <h1>{% if job %}Edit Job{% else %}Add Job{% endif %}</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">{% if job %}Save Changes{% else %}Add Job{% endif %}</button>
        <a href="{% url 'jobdetails_list' part_detail.part.id %}" class="btn btn-secondary">Cancel</a>
    </form>
</div>
{% endblock %}



